@model Lanche

<div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
        <img src="@Model.ImagemUrl" class="card-img-top" alt="Imagem de @Model.Nome, Descrição: @Model.DescricaoCurta">
        <div class="card-body">
            <h5 class="card-title">@Model.Nome</h5>
            <p class="card-text">
                @Model.DescricaoCurta
            </p>
            <p class="card-text">
                <strong>Preço:</strong> @Model.Preco.ToString("c")
            </p>
        </div>
    </div>
</div>
